body, html {
    margin: 0;
    padding: 0;
}

footer{
    background-color: #f1f1f1;
    padding: 20px 0;
}
.footer-content{
    text-align: center; /* Center the content horizontally */
    font-size: 14px;
    color: #666;
}